[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
openpyxl = "*"
xlrd = "*"
requests = "*"
boto3 = "*"
django-storages = "*"
pysftp = "*"
paramiko = "*"

[dev-packages]

[requires]
python_version = "3.11"
